h1 {
    text-align: center;
 }
 h2 {
    text-align: center;
 }
 #calendar {
    width: 100%;
    border: 1px solid;
    height: 200px;
 }
 #calendar th {
    width: 10%;
    background-color: #d6d6d6;
 }
 #calendar td {
    text-align: center;
 }
 #calendar th:first-child, #calendar td:first-child {
    color: red;
 }
 #calendar th:last-child, #calendar td:last-child {
    color: blue;
 }
 .red {
    color: red;
 }