{% extends "base.html" %}

{% block title %}POST PAGE{% endblock %}

{% block content %}

{% if post %}
<H1>Edit Post</H1>
{% else %}
<H1>New Post</H1>
{% endif %}


<form method="POST">
    <label for="title">Title:</label>
    <input type="text" name="title" value="{{ post.title if post }}" required>
    <br>
    <label for="content">Content:</label>
    <textarea name="content" cols="40" rows="8" required>{{ post.content if post }}</textarea>
    <br>
    {% if post %}
    <input type="submit" name="action" value="Edit">
    {% else %}
    <input type="submit" name="action" value="Write">
    {% endif %}
</form>



{% endblock %}