{% extends "base.html" %}

{% block title %}LOGIN PAGE{% endblock %}

{% block content %}
<H1>Login Page</H1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p style="color: red">{{ msg }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<form method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" required>
    <br>
    <button type="submit">Login</button>
</form>
<p>계정이 없다면 <a href="{{ url_for('join') }}">여기</a>를 클릭하세요</p>

{% endblock %}