{% extends "base.html" %}

{% block title %}USER PAGE{% endblock %}

{% block content %}
<H1>Account Page</H1>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p style="color: darkolivegreen">{{ msg }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<form action="#" method="POST">
    <p>Change Account</p>
    <p>
        <input type="email" name="email" placeholder="이메일 주소를 입력하세요" value="{{ session['email'] if session['email'] }}"><br>
        <input type="password" name="password" placeholder="비밀번호를 입력하세요"><br>
        <input type="submit" name="action" value="submit">
    </p>
    <p>Delete Account <br>
        <input type="submit" name="action" value="delete">
    </p>
</form>


<H2>My Post</H2>
<table border="1" width="300">
    <tr><th>Title</th></tr>
    {% if myposts %}
        {% for post in myposts %}
        <tr align="center"><td>
            <a href="{{ url_for('post', post_id=post.id, prev='my') }}">{{ post.title }}</a></li>
        </td></tr>
        {% endfor %}
    {% else %}
        <tr align="center"><td>작성한 게시글이 없습니다.</td></tr>
    {% endif %}
</table>

{% endblock %}