<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>사용자 상세 데이터</title>
    <style>
        table {
            width: 800px;
            margin-top: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>사용자 데이터 - 상세</h1>

    <div>
        <table border="1">
        <!-- 헤더를 처리하기 위한 라인 -->
            <tr>
            {% for header in headers %}
                <th> {{ header }} </th>
            {% endfor%}
            </tr>
    
        <!-- 유저를 처리하기 위한 라인 -->
        <tr>
            {% for u in user.values() %}
                <td> {{ u }} </td>
            {% endfor %}
            </tr>
        </table>

        <a href="javascript:history.back()">Back</a>
    </div>
</body>
</html>