<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>사용자 페이지</h1>
    <form action="/add" method="post">
        <input type="text" name="name" placeholder="이름을..">
        <input type="number" name="age" placeholder="나이를..">
        <button type="submit">사용자 추가</button>
    </form>
    <ul>
        {% for user in users %}
            <li>사용자 아이디는 {{ user.id }}이고 이름은 {{ user.name }}의 나이는 {{ user.age }} 입니다.
                <a href="{{ url_for('delete_user', id=user.id) }}">삭제</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>